.mavatec__tab__section.mavatec__tab__section--mt45
    .container
        .row
            .col-xs-24.col-sm-12.col-md-8
                .mavatec__tab__content
                    h2
                        | MT45
                        span._reg &reg;
                    p Placas con bastidor de MDF de 45 x 22mm, rellenas con nido de abeja celulósico impermeable, con tapas de MDF de 4mm.
                    ul 
                        li
                            | Tapacantos con perfil de aluminio anodizado
                            strong
                                | MVT194&reg; de 45mm x 5mm.
                        li Bisagras de aluminio anodizado natural.
                        li Herraje de cierre tipo libre-ocupado acerado.
                        li Zócalos de acero inoxidable y travesaño de aluminio con o sin vinculación a cielorraso.
                    
                    h3 MEDIDAS:
                    ul 
                        li Puertas 0.60 x 1.50
                        li Divisores interiores 1.50 x 1.20
                        li Paneles 0.30 x 2.10
                    
                    a.mavatec__button(href="#cotizar") Cotizar
                    
.mavatec__tab__section.mavatec__tab__section--mtup
    .container
        .row
            .col-xs-24.col-sm-12.col-md-8.pull-right
                .mavatec__tab__content
                    h2
                        | MTUP
                        span._reg &reg;
                    p Placas con bastidor de MDF de 45 x 22mm, rellenas con nido de abeja celulósico impermeable, con tapas de MDF de 4mm.
                    ul 
                        li
                            | Tapacantos con perfil de aluminio anodizado
                            strong
                                | MVT194&reg; de 45mm x 5mm.
                        li Bisagras de aluminio anodizado natural.
                        li Herraje de cierre tipo libre-ocupado acerado.
                        li Zócalos de acero inoxidable y travesaño de aluminio con o sin vinculación a cielorraso.
                        li Herrajes de sujeción suspendida de acero inoxidable sobre anclaje en sopor te superior de pared a pared.
                    
                    h3 MEDIDAS:
                    ul 
                        li Puertas 0.60 x 1.50
                        li Divisores interiores 1.50 x 1.20
                    
                    a.mavatec__button(href="#cotizar") Cotizar
.mavatec__tab__section.mavatec__tab__section--mtmen
    .container
        .row
            .col-xs-24.col-sm-12.col-md-8
                .mavatec__tab__content
                    h2
                        | MTMEN
                        span._reg &reg;
                    p Placas con bastidor de MDF de 45 x 22mm, rellenas con nido de abeja celulósico impermeable, con tapas de MDF de 4mm.
                    ul 
                        li Fijaciones a la pared mediante escuadras acero inoxidable.
                    
                    h3 MEDIDAS:
                    ul 
                        li Paneles 0.80 x 0.40 / 1MTS x 0.40
                    
                    a.mavatec__button(href="#cotizar") Cotizar
