.mavatec__tab__section.mavatec__tab__section--office
    .container
        .row
            .col-xs-24.col-sm-12.col-md-8
                .mavatec__tab__content
                    p Tabiques Modulares totalmente desarmables y recuperables en su totalidad, ya que su montaje se realiza en forma frontal y sin tornilleria a la vista.
                    p Estos tabiques están compuestos por una estructura de aluminio, los cuales pueden ser en anodizado natural o en varios colores.
                    p Compuestos por placas en melamina o MDF enchapado en laminado plástico o vidrio de seguridad 4+4 o 5+5 o DVH; permitiendo realizar paneles ciegos de piso a techo o paneles mixtos.
                    p Puertas placas enchapadas y lustradas, con bisagras de aluminio y cerradura y pomo tipo schlage.
                    
                    a.mavatec__button(href="#cotizar") Cotizar

.mavatec__tab__section.mavatec__tab__section--officefotos
    .container
        .row.nopadding
            .col-xs-8.photo
                img(src="/images/oficina1.jpg")
            .col-xs-8.photo
                img(src="/images/oficina2.jpg")
            .col-xs-8.photo
                img(src="/images/oficina3.jpg")
                
